<!-- -- WELCOME -->
<div class="welcome">
  <div class="welcome-heading container">
    <h1 class="welcome__heading">Welcome to Jiri: a 100% real place.</h1>
    <p class="welcome__heading__text">
      But when you’re here, you might swear otherwise.
    </p>
  </div>

  <div class="welcome-photos grid grid--2X3">
    <div class="welcome-photos__items">
      <a href="">
        <img class="welcome-photos__img" src="./images/hike.jpeg" alt="" />
        <p class="welcome-photos__items__text">
          Jiri Hikes
          <span class="icon"><i class="fas fa-arrow-right"></i></span>
        </p>
      </a>
    </div>
    <div class="welcome-photos__items">
      <a href="">
        <img class="welcome-photos__img" src="./images/IMG_3090.jpeg" alt="" />
        <p class="welcome-photos__items__text">
          Places to Stay
          <span class="icon"><i class="fas fa-arrow-right"></i></span>
        </p>
      </a>
    </div>
    <div class="welcome-photos__items">
      <a href="">
        <picture>
          <img
            class="welcome-photos__img"
            sizes="(max-width: 1400px) 100vw, 1400px"
            srcset="
              images/jireswori_bvcyhs_c_scalew_200.jpg   200w,
              images/jireswori_bvcyhs_c_scalew_960.jpg   960w,
              images/jireswori_bvcyhs_c_scalew_1400.jpg 1400w
            "
            src="images/jireswori_bvcyhs_c_scalew_1400.jpg"
            alt=""
          />
        </picture>
        <p class="welcome-photos__items__text">
          Religious Sites
          <span class="icon"><i class="fas fa-arrow-right"></i></span>
        </p>
      </a>
    </div>
    <div class="welcome-photos__items">
      <a href="">
        <img class="welcome-photos__img" src="./images/tungba.jpeg" alt="" />
        <p class="welcome-photos__items__text">
          Food and Drinks
          <span class="icon"><i class="fas fa-arrow-right"></i></span>
        </p>
      </a>
    </div>
    <div class="welcome-photos__items">
      <a href="">
        <img class="welcome-photos__img" src="./images/trek.jpeg" alt="" />
        <p class="welcome-photos__items__text">
          Treks <span class="icon"><i class="fas fa-arrow-right"></i></span>
        </p>
      </a>
    </div>
    <div class="welcome-photos__items">
      <a href="">
        <img class="welcome-photos__img" src="./images/camping.jpeg" alt="" />
        <p class="welcome-photos__items__text">
          Camping
          <span class="icon"><i class="fas fa-arrow-right"></i></span>
        </p>
      </a>
    </div>
  </div>
  <p class="container">
    You can try to show the magnitude of a mountain vista or the quiet bliss of
    a hot spring. But truth is, you really have to be here to get it.
  </p>
</div>
